@import 'variables';
@import 'card';
@import 'grid';
@import 'nav';
@import 'stars';

body {
  --blue-color: #00acdc;

  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  transition: all 300ms;
}
