.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding: 0 50px;
  margin: 0;
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: flex;
    height: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    color: #060b35;
    font-weight: 500;
  }

  &__item:not(:first-child) {
    margin-left: 20px;
  }

  &__link.is-active {
    color: var(--blue-color);
  }

  &__link.is-active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--blue-color);
    border-radius: 4px;
  }

  &__link:hover {
    color: var(--blue-color);
  }
}

.logo {
  height: 40px;
  width: auto;
  display: inline-block;
  text-align: center;

  &__image {
    height: 100%;
  }
}
